header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20%;
  background-color: #3f91fc;
  font-size: 1.5rem;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  color: #fff;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #6e6e6e;
}

::-webkit-scrollbar-track {
  background-color: #cecece;
}

::-webkit-scrollbar {
  width: 15px;
  background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

.Menu .nome h1{
    display: flex;
    justify-content: flex-start;
    color: #fff;
}
